:root {
	font-size: 62.5%;

	--font-color_1: #444;

	--form_logo-width_sm: 8.8rem;

	--form_input_width_sm: 25rem;
}

.form_sign_up_redirect {
	margin-top: 5rem;
}

.form_header + p {
	font-size: 1.2rem;
	color: var(--font-color_1);
}

@media screen and (max-width: 430px) {
	.form {
		padding: 2rem;
	}

	.form_logo {
		max-width: var(--form_logo-width_sm);
	}
}

@media screen and (max-width: 350px) {
	.form {
		padding: 2rem 1rem;
	}
}
